*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    margin-top: 10rem;
    position: relative;
    bottom: 2rem;
}
main{
    width: 55em; 
    margin: 1em auto;
    display: flex;
        justify-content: center;
       
  
    }


.sec1{
   display: flex;
   justify-content: center;
   position: relative;
}
#bir{
    
   
    width: 52em;
    padding: 15px;
    border: 2px solid rgb(209, 205, 205);
    border-radius: 5rem;
    cursor: pointer;
}
i{
    position: absolute;
    top: 1.5rem;
    left: 1em;
}
#mic{
    position: absolute;
    right: 0em;
   
    top: 0.5rem;
}


.sec2{
    width: 30em;
    margin: 1em auto ;
    display: flex;
    justify-content: center;
    gap: 10px;
   
    
}
#but1{
    padding: 0.8rem ;
    border-style: none;
    color: gray;
    
}
#but2{
    padding: 0.8rem ;
    border-style: none;
    color: gray;
}

footer{


display: flex;
justify-content: center;
align-items: center;
margin-top: 3rem;
font-size: large;

}












